
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        body {
            font-family:Arial, Helvetica, sans-serif; 
            font-size: 14px;
            margin-top: 0px;
            margin-left: 0px;
            margin-right:0px;
            margin-bottom: 0px;

        }
        .flexbox {
            /* display: box; */
            display: flex;
            align-items:center;
            justify-content:center;
            padding-top: 40px;
        }
        .box {
            position:relative;
            height: 300px;
            width:200px;
            border:1px;
            padding-left: 45px;
            padding-right: 45px;
            padding-top: 35px;
            padding-bottom: 35px;
            transition: transform 0.3s;
            color:black;
            text-align: center;
            align-items: center;
            justify-content: center;
            background-color: white;
            -webkit-box-shadow: 0px 0px 10px 0.5px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 10px 0.5px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 10px 0.5px rgba(0,0,0,0.75);
        }
        .box:hover {
            position:relative;
            transform: scale(1.2); 
            border:1px solid #0096FF;
            overflow:visible;
            z-index:1;
        }
        .nav-outer{
            position: sticky;
            display:flex;
            align-items:center;
            height:85px;
            width: 100%;
            top:-34px;
            background-color: white;
            -webkit-box-shadow: 10px 0px 18px -7px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 0px 18px -7px rgba(0,0,0,0.75);
            box-shadow: 10px 0px 18px -7px rgba(0,0,0,0.75);
            z-index:1;
        }
        
        .navbar  {
            position:sticky; 
            top:0;
            display:flex;
            justify-content:space-between;
            align-items:center;
            background-color: white;
            padding-left: 140px;
            height:51px;
            padding-right: 150px;
            width:100%;  
        }   
        .headlinks ul {
            margin:0;
            padding:0;
            display:flex;
        }
        .headlinks li {
            list-style:none;
            padding-right: 0px;
        }
        .headlinks li a {
            text-decoration:none;
            color: rgb(105, 102, 102);
            padding-right: 22px;
            padding-top:7px;
            display: block;
            font-weight:bold;
        }
        .headlinks li a:hover {
            color:rgb(145, 132, 132);
        }
        .toggle-button {
            
            position:absolute;
            top: 1.5rem;
            right: 8em;
            display:none;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height:21px;
        }
        .toggle-button .bar {
            height:3px;
            width:100%;
            background-color: #0096ff;
            border-radius: 10px;
        }

        
        img {
            width: 250px
        } 
        .first {
            background-color: #f1f1f1; 
            padding-left: 140px;
            padding-right: 140px;
            padding-top: 80px;
            padding-bottom: 80px;
            color:#666;
        }
        .head {
            text-align: center;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            align-self: center;
            
        }

        .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            background:#0096FF;
            border-radius:34px;
        }
        .slider:before {
            position: absolute;
            content: "";
            text-align:center;
  
            color:white;
            height: 26px;
            width: 26px;
            left:4px;
            bottom:4px;
            background-color: white;
            -webkit-transition: .5s;
            transition: .3s;
            border-radius:34px;
        }

        input:checked + .slider {
            background-color: #0096FF;
        }


        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(126px);
            transform: translateX(26px);
        }
        .toggle-btn {
            position: relative;;
            padding-top:20px;
            display:flex;
            align-content: center;
            justify-content: center;

        }
        .signup {
            position:absolute;
            left:0;
            right:0;
            bottom:40px;
            font-size:2px;
            padding-left: 3px;
            padding-right: 3px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
        .box:hover .signup button{
            background-color: #0096FF;
            color:white;
            border: 0px;
            bottom:40px;
            border-radius: 2px;
            font-weight: bold;
        }
        .price {
            padding-top:15px;
            display:flex;
            align-items: baseline;
            justify-content: center;
            color:#666;
        }
        .dollar {
            font-size: large;
            font-weight: bold;
        }
        .amount {
            font-size:38px;
            font-weight: bold;
            padding-left:1px;
            padding-right:1px;
        }
        .type {
            font-size:medium;
            color:black;
        }
        .features {
            padding-top:20px;
            text-align:left;
            align-items: center;
            justify-content: center;
            color:#666;
        }
        #btn {
            font-size:10px;
            padding-left:8px;
            padding-right: 8px;
            padding-top:5px;
            padding-bottom:5px;
        }
        .end{
            display:flex;
            align-items: center;
            justify-content:center;
            align-items:flex-start;
            padding-left:140px;
            padding-right:140px;
            padding-top:100px;
            padding-bottom:100px;
            background-color: black;
            color:white;
        }
        .end1 {
            width: 25%;
            margin-right: 30px;
            padding-left:30px;
            padding-right:30px;
        }
        .end2 {
            width: 25%;
            margin-left: .2em;
            margin-right: 30px;
            padding-left:30px;
            padding-right:30px;
        }
        .end3 {
            width: auto;
            margin-left: .2em;
            padding-left:30px;
            padding-right:30px;
        }
        #search1 {
            font-size: 22px;
            color: #666;
            padding-top: 35px;
            padding-right: 76px
        }
        @media (min-width:1000px){
            #search1 {
                display:none;
            }
        }
        @media (max-width: 1000px) {
            .toggle-button {
                display:flex;
                top:2.3em;
            }
            .headlinks {
                display:none;
                width:100%;
            }
            .nav-outer {
                position:absolute;
                top:0;
            }
            .navbar {
                
                position:absolute;
                left:0;
                padding-left: 100px;
                padding-right:100px;
            }

            .headlinks ul {                
                flex-direction:column;
            }
            
            .headlinks.active {
                display:flex;
                background-color: white;
                width:100%;
                margin-top: 550px;
                padding-top:50px;
                padding-left: 50px;
                padding-bottom: 50px;
                border-top:10px;
                border-top-color: rgb(92, 153, 177);
            }
            .head-title {
                padding-top:40px;
            }
            #search {
                display: none;
                padding-top:7px;
            }
            .flexbox {
                display:flex;
                flex-wrap: wrap;
            }
            .first {
                padding-top:160px;
                padding-left:95px;
                padding-right:95px;
            }
            .end {
                display:flex;
                flex-wrap:wrap;
                padding-left:95px;
                padding-right:95px;
            }
            .end1 {
                width: 100%;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;
            }
            .end2 {
                width: 100%;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;
                
            }   
            .end3 {
                padding-top:15px;
                width: 100%;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;
                
            }
            
        }
        .hide {
            display:none;
        }
        @media (max-width:1000px){
            
            .end{
                flex-wrap:wrap;
                padding-left:100px;
                padding-right:100px;
            }
            .end1 {
                width:100%;
                padding: 0px 0px 20px 0px;
                margin: 0px 0px 0px 0px;
            }
            .end2 {
                width:100%;
                padding: 0px 0px 0px 0px;
                margin: 0px 0px 0px 0px;
            }
            .end3 {
                width:100%;
                padding: 30px 0px 0px 0px;
                margin: 0px 0px 0px 0px;
                
            }
        }
        @media (max-width:575px) {
            .first {
                padding-left:75px;
                padding-right:75px;
            }
            .navbar {
                padding-left:75px;
                padding-right:75px;
            }
            .toggle-button{
                right:75px;
            }
            #search1 {
                padding-right:55px;
            }
            .end {
                padding-left:75px;
                padding-right:75px;
            }
            .title {
                font-size:35px;
            }
        }
        @media (max-width:450px){
            .first {
                padding-left:30px;
                padding-right:30px;
            }
            
            .navbar {
                padding-left:30px;
                padding-right:30px;
            }
            
            .toggle-button {
                right: 30px;
            }
            .end {
                padding-left:30px;
                padding-right:30px;
            }
            .end1{
                width:100%;
            }
            .end2{
                width:100%;
            }
            .end3{
                width:100%;
            }
            img {
                width:175px;
            }
        }
        
    