
        * {
            margin:0px;
            padding:0px;
            box-sizing: border-box;
        }
        html,body {
            width:100%;
            height:100%;
            margin:0;
            padding:0;
            overflow-x:hidden;
        }
        body {
            margin-top: 0px;
            margin-left: 0px;
            margin-right:0px;
            margin-bottom: 0px;
            overflow-x :hidden;
            font-family: Arial, Helvetica, sans-serif;
            font-size:14px;
        }

        .nav-outer{
            position: sticky;
            display:flex;
            align-items:center;
            height:85px;
            width: 100%;
            top:-34px;
            background-color: white;
            -webkit-box-shadow: 10px 0px 18px -7px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 0px 18px -7px rgba(0,0,0,0.75);
            box-shadow: 10px 0px 18px -7px rgba(0,0,0,0.75);
            z-index:1;
        }
        
        .navbar  {
            position:sticky; 
            top:0;
            display:flex;
            justify-content:space-between;
            align-items:center;
            background-color: white;
            padding-left: 140px;
            height:51px;
            padding-right: 150px;
            width:100%;  
        }   
        .headlinks ul {
            margin:0;
            padding:0;
            display:flex;
        }
        .headlinks li {
            list-style:none;
            padding-right: 0px;
        }
        .headlinks li a {
            text-decoration:none;
            color: rgb(105, 102, 102);
            padding-right: 22px;
            padding-top:7px;
            display: block;
            font-weight:bold;
        }
        .headlinks li a:hover {
            color:rgb(145, 132, 132);
        }
        .toggle-button {
            
            position:absolute;
            top: 1.5rem;
            right: 7.5em;
            display:none;
            flex-direction: column;
            justify-content: space-between;
            width: 25px;
            height:19px;
        }
        .toggle-button .bar {
            height:3px;
            width:100%;
            background-color: #0096FF;
            border-radius: 10px;
        }

       
        img {
            width:250px;
        }
        .first {
            background-color: #f1f1f1;
            display:flex;
            align-items: center;
            justify-content: center;
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .main-box {
            background-color: white;
            padding-top: 15px;
            padding-bottom: 15px;
            border:1px solid #0096ff;
            align-items: center;
            justify-content: center;
            width:65%;
            -webkit-box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.51);
            -moz-box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.51);
            box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.51);
        }
        .main-title {
            
            text-align:center;
            font-size:30px;
            color:#0096FF;
            font-weight:bold;
            padding:10px 0 15px 0;
        }
        .sub {
            
            text-align:center;
            font-size: 20px;
            color:#0096ff;
            font-weight:bold;
        }
        /* .title {
            display:flex;
            align-items: center;
            justify-content: center;
            padding-top:25px;
            color:#666;
        }
        .subscript {
            display:flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 25px;
            color:#666;
        } */
        .logo {
            display:flex;
            align-items: center;
            justify-content: center;
        }
        .end {
            display: flex;
            justify-content: center;
            background-color: black;
            color: white; 
            padding-top: 70px;  
            padding-bottom: 70px; 
            
            
        }
        .end1 {
            width: 25%;
            margin-right: 30px;
            padding-left:30px;
            padding-right:30px;
        }
        .end2 {
            width: 25%;
            margin-left: .2em;
            margin-right: 30px;
            padding-left:30px;
            padding-right:30px;
        }
        .end3 {
            width: auto;
            margin-left: .2em;
            padding-left:30px;
            padding-right:30px;
        }
        #logo-img {
            padding-top:15px;
            padding-bottom:0px;
            width: 70px;
        }
        .input-field {
            display:flex;
            flex-wrap:wrap;
            align-items:center;
            justify-content: center;
            text-align:center;
            padding-top:30px;
            padding-bottom:30px;
            width:100%;
           
        }
        form{
            width:100%;
            padding-left:35px;
            padding-right:35px;
        }
        .form-pad {
            padding-bottom:10px;
        }
        .form-pad1 {
            padding-bottom:30px;
        }
        .form-pad2 {
            padding-bottom:10px;
        }
        
        .options {
            
            padding-top:5px;
            padding-bottom:5px;
            padding-left:9px;
            padding-right:10px;
            height:40px;
            width:100%;
            border-radius:5px;
            border:0px;
            color:#777;
            font-size:16px;
            background:#f1f1f1;
        }
        select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

        select.options {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}


        /* select {
            color:#777;
        } */
        select:focus {
            outline: none;
            border:1px solid #0096FF;
        }
        input {
            padding-top:5px;
            padding-bottom:5px;
            padding-left:10px;
            padding-right:10px;
            height:40px;
            width:100%;
            border:0px;
            border-radius:5px;
            background-color: #f1f1f1;
        }
        input:focus {
            outline:none;
            border:1px solid #0096FF;
        }
        
        .submit-btn {
            width:25%;
            height:40px;
            border-radius:5px;
            border:none;
            background-color: #0096ff;
            color:white;
            font-weight:bold;
            font-size:16px;
        }
        /* .submit-btn:hover {
            cursor:not-allowed;
        } */
        
        .already {
            display: flex;
            align-items: center;
            justify-content: center;
            color:#0096FF;
            font-size:16px;
            padding-bottom:25px;
        }
        input::placeholder {
            font-size:16px;
        }

        .form-flex {
            display:flex;
        }
        .form-flex1 {
            width:99%;

        }
        .form-flex2 {
            width:99%;
            padding-left:2%;
        }
        @media (max-width: 1000px) {
            html,body {
                width:100%;
                height:100%;
                margin:0;
                padding:0;
                overflow-x:hidden;
            }
            .toggle-button {
                display:flex;
                top:2.3em;
            }
            .headlinks {
                display:none;
                width:100%;
            }
            .nav-outer {
                position:absolute;
                top:0;
            }
            .navbar {
                
                position:absolute;
                left:0;
                padding-left: 100px;
                padding-right:100px;
            }

            .headlinks ul {                
                flex-direction:column;
            }
            .search {
                display:none;
            }
            .headlinks.active {
                display:flex;
                background-color: white;
                width:100%;
                margin-top: 550px;
                padding-top:50px;
                padding-left: 50px;
                padding-bottom: 50px;
                border-top:10px;
                border-top-color: rgb(92, 153, 177);
            }
            .head-title {
                padding-top:40px;
            }
            #search {
                display: none;
            }
            .flexbox {
                display:flex;
                flex-wrap: wrap;
            }
            .first {
                padding-top:160px;
                padding-left:95px;
                padding-right:95px;
            }
            .end {
                display:flex;
                flex-wrap:wrap;
                padding-left:95px;
                padding-right:95px;
            }
            .end1 {
                width: 100%;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;
            }
            .end2 {
                width: 100%;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;
                
            }   
            .end3 {
                padding-top:15px;
                width: 100%;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;
                
            }
            
        }
        @media (max-width:450px){
            img {
                width: 175px;
            }
            .body {
                font-size: 8px;
                width:100px;
            }
            .navbar {
                padding-left: 30px;
                padding-right:30px;
                height:27px;
                width:100%;
            }
            .nav-outer {
                padding-left: 25px;
                padding-right: 20px;
                height: 85px;
                padding-bottom: 10px;
                width:100%;
            }
            
            
            
            
            .end {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                padding-left:30px;
                padding-right:30px;

            }
            .end3 {
                padding-top:15px;
            }
            
            .headlinks.active {
                margin-top: 400px;               
            }
            .head-title {
                padding-top:60px;
            }
            .end1{
                width:100%;
                margin-right:0px;
                padding-left:0px;
                padding-right:0px;
            }
            .end2{
                width:100%;
                margin-right:0px;
                padding-left:0px;
                padding-right:0px;
            }
            .end3{
                width:100%;
                margin-right:0px;
                padding-left:0px;
                padding-right:0px;
            }
            input {
                height:25px;
                padding: 0px 15px 0 15px;
            }
            #img-logo {
                 width: 35px;
            }
            .submit-btn {
                height:25px;
            }
            .title {
                font-size:15px;
            }
            .options {
                height:25px;
                padding-left:15px;
            }
            select.options {
                background-position: calc(100% - 20px) calc(1em + -3px), calc(100% - 15px) calc(1em + -3px), calc(100% - 2.5em) 0.3em;
                background-size: 3px 3px, 5px 3px, 0.5px 1em;
            }
            
        }
        a {
            text-decoration: none;
        }
        #search1 {
            font-size: 22px;
            color: #666;
            padding-top: 35px;
            padding-right: 76px
        }
        @media (min-width:1000px){
            #search1 {
                display:none;
            }
        }
        @media (max-width:670px){
            img {
                width:225px;
            }
        }
        @media (max-width:600px){
            img {
                width:200px;
            }
            #search {
                padding-right:60px;
            }
        }
        @media (max-width:1000px){
            .first {
                padding: 200px 0px 200px 0px;
            }
            .end{
                flex-wrap:wrap;
                padding-left:100px;
                padding-right:100px;
            }
            .end1 {
                width:100%;
                padding: 0px 0px 20px 0px;
                margin: 0px 0px 0px 0px;
            }
            .end2 {
                width:100%;
                padding: 0px 0px 0px 0px;
                margin: 0px 0px 0px 0px;
            }
            .end3 {
                width:100%;
                padding: 30px 0px 0px 0px;
                margin: 0px 0px 0px 0px;
                
            }
            .form-flex {
                flex-wrap:wrap;
            }
            .form-flex1 {
                width:100%;

            }
            .form-flex2 {
                width:100%;
                padding-left:0px;
                padding-top:10px;
            }
            
            
        }
        @media (max-width:575px) {
            .first {
                padding-left:0px;
                padding-right:0px;
            }
            .navbar {
                padding-left:75px;
                padding-right:75px;
            }
            .toggle-button{
                right:75px;
            }
            #search1 {
                padding-right:55px;
            }
            .end {
                padding-left:75px;
                padding-right:75px;
            }
            .title {
                font-size:35px;
            }
        }
        @media (max-width:450px){
            .first {
                padding-left:0px;
                padding-right:0px;
            }
            .main-box {
                width:80%;
            }
            
            .navbar {
                padding-left:30px;
                padding-right:30px;
            }
            
            .toggle-button {
                right: 30px;
            }
            .end {
                padding-left:30px;
                padding-right:30px;
            }
            .end1{
                width:100%;
            }
            .end2{
                width:100%;
            }
            .end3{
                width:100%;
            }
            img {
                width:175px;
            }
            #search1 {
                padding-top: 60px;
                padding-right: 60px;
            }
        }
        .imp label{
            font-size:16px;
            color:#0096ff;
        }
        .imp {
            display:flex;
            align-items: center;
            justify-content: center;
            padding-bottom:30px;
            padding-top:35px;
        }
        #tnc {
            height:15px;
        }
        #butn[type=submit]:disabled { cursor:not-allowed; background:skyblue !important}

        .loader {
            margin-left:6px;
            border: 3px solid white;
            border-radius: 50%;
            border-top: 3px solid transparent;
            width: 12px;
            height: 12px;
            -webkit-animation: spin 1.55s linear infinite; /* Safari */
            animation: spin 1.5s linear infinite;
            visibility:hidden;
        }
        .show {
            visibility:visible;
        }
/* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        options:selected {
            color:black;
        }
         
