
        * {
            margin :0px;
            padding: 0px;
            box-sizing: border-box;
        }
        html {
                overflow-x: hidden;
            }
        .adjust-me-based-on-size{
                margin-left: 0%;
                margin-right: 0%;
            }    
        body {
            font-family:sans-serif; 
            font-size: 15px;
            margin-top: 0px;
            margin-left: 0px;
            margin-right:0px;
            margin-bottom: 0px;
        }
        .nav-outer{
            position: sticky;
            display:flex;
            align-items:center;
            height:85px;
            width: 100%;
            top:-34px;
            background-color: white;
            -webkit-box-shadow: 10px 0px 18px -7px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 0px 18px -7px rgba(0,0,0,0.75);
            box-shadow: 10px 0px 18px -7px rgba(0,0,0,0.75);
            z-index:1;
        }
        
        .navbar  {
            position:sticky; 
            top:0;
            display:flex;
            justify-content:space-between;
            align-items:center;
            background-color: white;
            padding-left: 140px;
            height:51px;
            padding-right: 150px;
            width:100%;  
        }   
        .headlinks ul {
            margin:0;
            padding:0;
            display:flex;
        }
        .headlinks li {
            list-style:none;
            padding-right: 0px;
        }
        .headlinks li a {
            text-decoration:none;
            color: rgb(105, 102, 102);
            padding-right: 22px;
            padding-top:7px;
            display: block;
            font-weight:bold;
            font-size:14px;
        }
        .headlinks li a:hover {
            color:rgb(145, 132, 132);
        }
        .toggle-button {
            
            position:absolute;
            top: 1.5rem;
            right: 8em;
            display:none;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height:21px;
        }
        .toggle-button .bar {
            height:3px;
            width:100%;
            background-color: #0096ff;
            border-radius: 10px;
        }

        #width {
            width:135%;
        }
        @media (max-width: 1000px) {
            .toggle-button {
                display:flex;
                top:2.2em;
                right:7em;
            }
            .headlinks {
                display:none;
                width:100%;
            }
            .nav-outer {
                position:absolute;
                top:0;
                
            }
            .navbar {
                
                position:absolute;
                left:0;
                padding-left: 100px;
                padding-right:100px;
            }

            .headlinks ul {                
                flex-direction:column;
            }
            .search {
                display:none;
            }
            .headlinks.active {
                display:flex;
                background-color: white;
                width:100%;
                margin-top: 550px;
                padding-top:50px;
                padding-left: 50px;
                padding-bottom: 50px;
                border-top:10px;
                border-top-color: rgb(92, 153, 177);
            }
            .head-title {
                padding-top:40px;
            }
            #search {
                display: none;
            }
            
        }
        .first{
            background-color: #f1f1f1; 
            padding-left: 140px;
            padding-right:140px; 
            
        }
        p {
            color: #666;
            line-height: 1.7em;
            letter-spacing: .4px;
        }
        .title {
            padding-top: 80px;
            padding-bottom: 80px;
            font-size: 60px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 1000;
        }
        .title1 {  
            padding-top: 20px;          
            font-size: 60px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 1000;
            line-height: 1.4em;
            width: min-content;
            padding-right: 170px;
        }
        .form-row {
            display: flex;
            margin-bottom: .5rem;
            flex-wrap:wrap;
            flex-direction: row;
        }
        .form-item {
            
            flex-grow: 1;
            flex-basis: 0;
        }
        .flex-part {
            display:flex;
            padding-bottom: 80px;
            width:100%;
            /* flex-wrap:wrap;
            flex-direction: row; */
    
        }
        #id1 {
            padding-left: 80px;
        } 
        
        .flex-itm {
            width: 100%;
            /* padding-right: 60px; */
        }
        
        .flex-itm2 {
            width: 40%;
        }
        
        .end {
            display: flex;
            justify-content: center;
            background-color: black;
            color: white; 
            padding-top: 70px;  
            padding-bottom: 70px; 
            
            
        }
        .end1 {
            width: 25%;
            margin-right: 30px;
            padding-left:30px;
            padding-right:30px;
        }
        .end2 {
            width: 25%;
            margin-left: .2em;
            margin-right: 30px;
            padding-left:30px;
            padding-right:30px;
        }
        .end3 {
            width: auto;
            margin-left: .2em;
            padding-left:30px;
            padding-right:30px;
        }
        #search1 {
            font-size: 22px;
            color: #666;
            padding-top: 35px;
            padding-right: 76px
        }
        @media (min-width:1000px){
            #search1 {
                display:none;
            }
        }
        .no-outline:focus {
            outline: none;
        }
        .flex-part0 {
            display: flex;
            padding-bottom: 100px;
            /* flex-wrap:wrap;
            flex-direction: row; */
        }
        
        .flex-itm01 {
            width:100%;
            padding-right: 65px;
        }
        .flex-itm0 {
            width:100%;
            display:flex;
            
            flex-direction: column;
        }
        .flex-form {
            padding-bottom: 30px;
            /* flex-wrap:wrap;
            flex-direction: row; */
            column-gap: 10px;
            padding-right:50px;
        }
        .flex-form1 {
            margin-right: 10px;
            
        }
        
        .outline:focus {
            outline:none;
        }
        .btn {
            margin-right:50px;
            margin-top:12px;
            background: black;
            color: white;
            float:right;
            padding: 12px 20px 12px 20px;
            border-radius: 5px;
            font-weight: lighter;
            font-size: medium;
            border: 0;
            font-weight: bold;
        }

        .options {
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-style: groove;
            border-bottom:3px solid black;
            background-color: transparent;
            line-height: 10px;
        }
        .options:focus {
            outline: none;
        }
        textarea {
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-width: 3px;
            border-color: black;
            background-color: transparent;
            resize:none;
            color:black;
        }
        textarea::placeholder {
            color:black;
            font-weight:bolder;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        select {
            width: 233px;
            border-bottom-width: 2px;
            border-color: black;
            padding-bottom: 18px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
        }
        .icn-config {
            display: inline-flex;
        }
        hr.vertical {
            height:100%; 
            width:0;
            border:1px solid #eee;
            
        } 
        
          
        img {
            width: 250px
        } 

        .dropbtn {
            background-color: transparent;
            padding-bottom:20px;
           /* color: black; */
            padding: 0px;
            border: none;
            cursor: pointer;
            padding-bottom:25px;
            font-weight:bold;
            font-size:20px;
            text-align:left;
        }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: transparent;
  width: 100%;
  overflow: auto;
  padding-bottom:22px;
}

.show {display: block;}
.show1 {display:none;}
        @media (max-width:1000px){
            .title {
                padding-top:160px;
                font-size: 40px;
            }
            .flex-part {
                flex-wrap: wrap;
            }
            #id1{
                padding-left:0px;
            }
            .flex-form {
                padding-right:0px;
            }
            .title1 {
                padding-top: 15px;
                font-size: 40px;
                width: 100%;
                padding-bottom: 20px;
            }
            .flex-part0 {
                flex-wrap : wrap;
                flex-direction:row;
            }
            .first {
                padding-left: 105px;
                padding-right:105px;
                padding-top:40px;
            }
            .flex-form {
                flex-wrap: wrap;
            }
            
            .h2 {
                font-size:18px;
            }
            .end {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                padding-left:120px;
                padding-right:120px;

            }
            .end1 {
                width:100%;
                padding-left:0px;
                padding-right:0px;
                padding-bottom:15px;
            }
            .end2 {
                width: 100%;
                padding-left:0px;
                padding-right:0px;
                padding-bottom:15px;
            }
            .end3 {
                width: 100%;
                padding-left:0px;
                padding-right:0px;
            }
            .flex-itm {
                padding-top: 50px;
                padding-right:0px;
            }
            #h0 {
                width: 100%;
            }
            .flex-form1 {
                margin-right: 0px;
                width:100%;
            }
            .message {
                width:100%;
            }
            #abc {
                padding-top: 15px;
            }
            .btn {
                margin:0px;
            }
            .flex-itm01 {
                padding-right:0px;
            }
        }
        .message {
            width: 100%;
            resize: both;
            padding-top:5px;
        }

        /* @media (max-width:750px){
            img {
                width: 150px;
            }
            .body {
                font-size: 12px;
            }
            .navbar {
                padding-left: 90px;
                padding-right: 90px;
            }
            .nav-outer {
                height: 50px;
                padding-bottom:13px;
            }
            .toggle-button {
                top: 0.9rem;
                right: 0.8rem;
            }
            .toggle-button .bar{
                height: 1px;
                width:60%;                
            }
            
        } */
        /* @media (max-width:550px){
            img {
                width: 100px;
            }
            .body {
                font-size: 10px;
            }
            .navbar {
                padding-left: 40px;
                padding-right: 40px;
            }
            .nav-outer {
                height: 50px;
                padding-bottom:13px;
            }
            .toggle-button {
                top: 0.9rem;
                right: 0.8rem;
            }
            .toggle-button .bar{
                height: 1px;
                width:60%;
                
            }
        } */
        
        ::placeholder {
            color:black;
        }
        #br-gap {
            padding-top:40px;
        }
        @media (max-width:575px) {
            .first {
                padding-left:75px;
                padding-right:75px;
            }
            .navbar {
                padding-left:75px;
                padding-right:75px;
            }
            .toggle-button{
                right:5em;
            }
            #search1 {
                padding-right:55px;
            }
            .end {
                padding-left:75px;
                padding-right:75px;
            }
            .title {
                font-size:35px;
            }
        }
        @media (max-width:450px){
            .navbar {
                padding-left: 30px;
                padding-right:30px;
            }
            img {
                width: 175px;
            }
            .body {
                font-size: 8px;
                width:100px;
            }
            
            .first {
                padding-left:30px;
                padding-right:30px;
                font-size:10px;
                
            }
            #h2 {
                font-size: 11px;
            }
            #h0{
                font-weight: 11px;
                color:black;
            }
            .title {
                font-size: 22px;
                padding-top:90px;
                padding-bottom: 0px;
            }
            .title1 {
                padding-top: 8px;
                font-size:22px;
                line-height: 25px;
                padding-top:10px;
                padding-bottom:20px;
            }
            .end {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                padding-left:30px;
                padding-right:30px;

            }
            .end3 {
                padding-top:15px;
            }
            .message {
                width: 100%;
            }
            .headlinks.active {
                margin-top: 400px;               
            }
            .toggle-button {
                right: 2em;
            }
            
        }
        textarea:focus{
            outline:none;
        }
        
    